Package: python-lxml-doc
Source: lxml
Version: 4.2.5-1
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 23833
Recommends: python-lxml
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://lxml.de/
Description: pythonic binding for the libxml2 and libxslt libraries (documentation)
 lxml is a new Python binding for libxml2 and libxslt, completely
 independent from these existing Python bindings.
 .
 This package contains the html documentation.
